// Card styles 
.card {
  width: 230px;
  box-shadow: rgba(10, 10, 10, 0.1) 0px 0.5em 1em -0.125em, rgba(10, 10, 10, 0.02) 0px 0px 0px 1px;
  color: #4a4a4a;
  border-radius: 5px;
  height: 320px;
  margin-right: 20px;
  margin-top: 30px;
  align-self: center;
}

.card-body {
  padding: 5px 30px 5px 10px;
}

.post-tag {
  display: inline-block;
  margin: 5px 0;
  background-color: #51ADC4;
  color: #fff;
  padding: 0 2px;
  border-radius: 10px;
  font-size: 10px;
}

.post-title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.post-description {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}

.post-image img {
  width: 230px;
  border-radius: 5px 5px 0 0;
  height: 150px;
  border-bottom: 1px solid #e8e7e7;
}
// card styles
