.homepage-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  a {
    text-decoration: none;
  }
}

.home-page-h1 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 0;
}

@media(min-width: 1024px) {
  .homepage-wrapper {
    width: 70%;
    margin: 25px auto;
    margin-bottom: 100px;  
  }
} 